<footer id="footer-container">
    <h1 id="footer-title">Codeial.All Rights Reserved</h1>
<ul id="page-link">
    <li>
    <a href="/">Home</a>
</li>
<li>
    <a href="/users/profile">Profile</a>
    </li>
</ul>
</footer>