<!-- <html>
    <head>
        <title>
        <%= title %>
        </title>
    </head>
    <body> -->
        <!-- <header>
            Header
        </header> -->

        <!-- //instead of above code use below code -->
        <!-- <%- include('_header'); %> -->
        <link rel="stylesheet" href="/css/home.css">
        <h1> Codeial <%= title %></h1>
        <!-- <footer>
        Footer
        </footer> -->
        <!-- instead of above code use below code -->
        <!-- <%- include('_footer'); %>
    </body>
</html> -->