<div>

    <p>
        Hii! <strong><%= comment.user.name %> ! </strong> <%= comment.user.name %> !
    </p>
    <br>
    <br>
    <p>Your comment <strong><%=comment.content %></strong> just got published in <b>Codeial</b> </p>
    <br>
    <br>
    <p>Thank You ! <%= comment.user.name %></p>
</div>